body {
    color: cyan;
    background-color: #994400;
    font-family: Verdana, sans-serif;
}

a {
    font-family: Arial, sans-serif;
}

a.minitop-title, a.minitop-title:visited {
    color: lime;
    text-decoration: none;
}

a.minitop-link, a.minitop-link:visited {
    color: steelblue;
}

a.minitop-link:hover {
    color: cyan;
}

a.minitop-link-action, a.minitop-link-action:visited {
    color: blue;
}

a.minitop-link-part, a.minitop-link-part:visited {
    color: #0D0;
}

a.minitop-link-part:hover {
    color: #0F0;
}

