<html>
    <head>
        <title>MiniTop</title>
        <%= stylesheet_link_tag 'minitop' %>
    </head>
    <body>
        <h1 class="minitop-title">MiniTop</h1>
        <br/><hr/><br/>
        <%= yield %>
    </body>
</html>
