<html>
    <head>
        <title>MiniTop</title>
        <%= stylesheet_link_tag 'minitop' %>
    </head>
    <body>
        <h1><a href="<%= url_for :action => 'index' %>" class="minitop-title">MiniTop</a></h1>
        <hr/>
        <%= yield %>
    </body>
</html>
